# generic files to ignore
# backup files (*~) and vim swap file (.swp), MacOS dir file (.DS_Store)
*~
*.lock
*.DS_Store
*.swp
*.out
*.o
*.a
*.so
*.so.*
*_old.frag
*_old.vert

# git scripts
push.sh
sf_push.sh
