*~
*.lock
*.DS_Store
*.swp
*.out
*.o
*.a
*.so
*.so.*
*_old.frag
*_old.vert
imgui.ini

# Eclipse Files
.cproject
.project
.settings/
.dep/
.externalToolBuilders/

# Build
build/
build_msvc/
build-win64/

# PyDev
.pydevproject

# CLion
.idea/
cmake-build-*
